<!--=================== START BINDING ====================-->

<!--1-> One Way Data Binding-->
<!--2-> Two Way Data Binding-->


<!--1-> One Way Data Binding-->

<!--<input type="text" class="user-name" name="userName" id="userName" #element (keyup)="setUserName(element.value)">-->

<!--<input type="text" class="user-name" name="userName" id="userName" #element (keyup.enter)="setUserName(element.value)">-->

<!--<input type="text" class="user-name" name="userName" id="userName" #element (keyup.enter)="setUserName(element.value)">-->

<!--<p>User Name: {{userName}}</p>-->

<!--<input type="text" value="{{userName}}">-->
<!--<input type="text" [value]="userName">-->


<!--2-> Two Way Data Binding-->
<!--<input type="text" name="" id="" [(ngModel)]="userName"> {{userName}}-->


<!--=================== END BINDING ====================-->



<!--<div class="main-warp">-->
<!--  <p class="title">Sign in</p>-->
<!--  <hr>-->

<!--  <input type="email" class="input-text" [(ngModel)]="email">-->
<!--  <br><br>-->
<!--  <input type="password" class="input-text" [(ngModel)]="password">-->
<!--  <br><br>-->
<!--  <input type="submit" value="Login" class="btn" (click)="login()">-->
<!--</div>-->


<div class="main-warp">
  <p class="title">Sign in</p>
  <hr>

  <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
    <input formControlName="email" type="email" class="input-text">
    <p class="alert" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
      Email is required.
    </p>
    <br><br>
    <input formArrayName="password" type="password" class="input-text">
    <p class="alert" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      Password is required.
    </p>
    <br><br>
    <input [disabled]="loginForm.invalid" type="submit" value="Login" class="btn {{loginForm.invalid?'invalid':''}}">
  </form>
</div>
